body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; /* Animasyonun taşmasını önlemek için */
}

.container {
    text-align: center;
    position: relative; /* Animasyonlu elemanların referansı */
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
}

.hidden {
    display: none;
}

@keyframes heartRain {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.heart, .fa-heart {
    position: absolute;
    font-size: 25px;
    color: rgb(255, 166, 178);
    animation: heartMove 5s linear infinite;
    z-index: 0;
}

@keyframes heartMove {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(110vh);
    }
}
